**/*
!package.json
!README.md
!LICENSE
!CHANGELOG.md
!out/
!out/*.js
!media/
!media/**
!scripts/
!scripts/bridge.R
!node_modules/
!node_modules/@posit-dev/
!node_modules/@posit-dev/positron/
!node_modules/@posit-dev/positron/package.json
!node_modules/@posit-dev/positron/LICENSE
!node_modules/@posit-dev/positron/dist/
!node_modules/@posit-dev/positron/dist/*.js
